@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@font-face {
    font-family: 'Handletter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
}

ul {
    list-style: none;
}
h1.blind { /*종속 선택자*/
    display: none;
}
.blind {
    /* display: none; 존재 자체가 없음*/
    text-indent: -9999px;
    visibility: hidden; /* 존재하긴 함 */
}
a {
    text-decoration: none;
    color: #000000;
}
#header {
    /* background: url("../images/bg2.jpg") center repeat-x; */
    min-height: 150px;
    background: linear-gradient( to right, #dea1ff 50px, #bbb3ff 300px, #FFEAFF 90%, #ffffff );
    position: relative;
}

.thumbnail {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    bottom: -125px;
    margin-left: -125px;
}
.thumbnail img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

#main .greetings {
    text-align: center;
    font-size: 2.5rem;
    margin: 170px 0 30px;
    color:#666;
    font-family: 'Handletter';
}
.greetings>strong {
    color:#C966FF;
    font-size: 3rem;
}
#about-chapter, #contact-chapter, #portfolio-chapter {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 100px 0 40px;
}
#details {
    max-width: 1000px;
    margin: 0 auto;
}
#details li {
    margin: 20px 0;
    overflow: hidden;
}
#details strong, #details p {
    display: inline-block;
    padding: 5px 0px;
    box-sizing: border-box;
}
#details strong {
    width: calc(20% - 30px);
    flex: 0 0 auto;
    border-bottom: 2px solid #8f8f8f;
}
#details p {
    border-bottom: 1px solid #dddddd;
    width: 80%;
    float: right;
}
#details a {
    transition: all 0.1s linear;
    box-sizing: border-box;
}
#details a:hover {
    color:#ad39eb;
}
.details2-wrap {
    background: rgb(241, 241, 241);
    padding: 1rem 0;
    margin: 0 auto;
}
#details2 {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex: 0 0 auto;
    column-gap: 30px;
}
#details2 li {
    width: 25em;
    height: auto;
    margin: 0 2px;
    text-align: center;
}
#details2 img {
    max-width: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    border-radius: 10%;
}
#details2 img:hover {
    opacity: 0.8;
}
#btn-list {
    max-width: 1000px;
    height: auto;
    display: flex;
    flex: 0 0 auto;
    margin: 0 auto;
    column-gap: 28px;
}
#btn-list>li {
    flex: 0 0 auto;
    display: flex;
    width: 31%;
    margin: 0 3px;
}
.btn {
    flex: 0 0 auto;
    display: flex;
    margin: 0 auto;
    column-gap: 5px;
}
.btn1, .btn2, .btn3, .btn4 {
    height: 30px;
    width: 148px;
    padding: 5px;
    margin-top: 10px;
    color: #333;
    cursor: pointer;
}
.btn1 {
    background-color: #ffffff;
    border: 1px solid #c58ce4;
    transition: all 0.2s linear;
    border-radius: 15px;
}
.btn2, .btn3, .btn4 {
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #aaa;
    transition: all 0.2s linear;
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
    background-color: #dddddd;
}

h2 {
    clear: both;
}
#contacts {
    display: table;
    max-width: 1200px;
    margin: 0 auto;
}
#contacts li {
    display: table-cell;
    width: 25em;
    text-align: center;
}
/* font-awesome re-styling */
.phone {
    font-size: 8em;
    color: #7A7CA3;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.email {
    font-size: 8em;
    color: #7A7CA3;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.insta {
    font-size: 8em;
    color: #7A7CA3;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.pdf {
    margin: 0 auto;
    display: flex;
    flex: 0 0 auto;
}
.pdf-btn {
    display: none;
}

#topBtn {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
}
#topBtn i {
    opacity: 0.5;
    transition: all 0.3s;
}
#topBtn:hover i {
    transform: scale(1.1);
    opacity: 1;
}

#footer {
    background:#7A7CA3;
    color:lavender;
    padding: 10px 0;
    text-align: center;
}

#popup1, #popup2, #popup3 {
    width: 30%;
    height: 70%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #666;
    position: fixed;
    z-index: 999;
    top: 20%;
    left: 35%;
    display: none;
}
#popup1 img {
    width: 100%;
}
#popup2 img {
    width: 100%;
}
#popup3 img {
    width: 100%;
}
.close {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 35px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 #aaa;
    border: none;
    transition: all 0.2s linear;
}
.close:active {
    background-color: #dddddd;
}

@media all and (max-width: 425px) {
    #header {
        min-height: 200px;
    }
    .thumbnail {
        width: 110px;
        height: 110px;
        bottom: -55px;
        margin-left: -55px;
        /*ctrl + shift + K : 한 줄 지우기*/
    }
    #main .greetings {
        text-align: justify;
        margin: 55px 10px 5px;
    }
    .greetings img {
        width: 100%;
    }
    #about-chapter, #contact-chapter {
        text-align: center;
        text-transform: uppercase;
        margin: 20px 10px 20px;
    }

    #details {
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    #details strong {
        display: none;
    }
    #details p {
        float: none;
        width: 100%;
    }

    #btn-list {
        width: calc(100% - 20px);
        height: auto;
        display: flex;
        flex: 0 0 auto;
        margin: 0 auto;
        column-gap: 10px;
    }
    .btn1, .btn2, .btn3, .btn4 {
        height: 33px;
        font-size: 11px;
        width: 60px;
        padding: 2px;
        margin-top: 8px;
    }

    #contacts li {
        display: table-row;
    }
    
    .pdf {
        display: none;
    }
    .pdf-btn {
        display: block;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #000;
        border-radius: 10%;
        padding: 5px;
        transition: all 0.2s linear;
    }
    .pdf-btn:active {
        background-color: #dddddd;
    }
}