@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
}

ul {
    list-style: none;
}
h1.blind { /*종속 선택자*/
    display: none;
}
.blind {
    /* display: none; 존재 자체가 없음*/
    text-indent: -9999px;
    visibility: hidden; /* 존재하긴 함 */
}
a {
    text-decoration: none;
    color:#c89dce;
}
#header {
    /* background: url("../images/background2.png") center no-repeat cover; */
    min-height: 150px;
    background-color: #c89dce;
    position: relative;
}

.thumbnail {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    bottom: -125px;
    margin-left: -125px;
}
.thumbnail img {
    max-width: 100%;
}

#main .greetings {
    text-align: center;
    line-height: 1.5;
    font-size: 30px;
    margin: 170px 0 30px;
    color:#666;
}
#tmi {
    text-align: center;
    color: #A986AE;
}
#about-chapter, #contact-chapter {
    text-align: center;
    text-transform: uppercase; /*소문자를 대문자로*/
    margin: 50px 0 20px;
}
#details {
    max-width: 1200px;
    margin: 0 auto;
}
#details li {
    margin: 20px 0;
    overflow: hidden;
}
#details strong, #details p {
    display: inline-block;
    /* margin: 20px; */
    padding: 15px 30px;
    box-sizing: border-box;
}
#details strong {
    background: #ddc2e0;
    width: calc(20% - 20px);
    float: left;
}
#details p {
    background-color: #ddd;
    width: 80%;
    float: right;
}
#details2 {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}
#details2 li {
    width: 33%;
    height: 300px;
    margin: 0 2px;
    float: left;
    text-align: center;
    box-shadow: 0 0 10px 0 #333333;
}
#details2 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.2s linear;
}
#details2 img:hover {
    opacity: 0.8;
}

h2 {
    clear: both;
}
#contacts {
    display: table;
    max-width: 1200px;
    margin: 0 auto;
}
#contacts li {
    display: table-cell;
    width: 25em; /* 3등분 한 것중 한 개, 400px / 16px */
    text-align: center;
}
/* font-awesome re-styling */
.phone {
    font-size: 8em;
    color: #7A7CA3;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    /* border: 2px solid #7A7CA3;
    border-radius: 50%; */
}
.email {
    font-size: 8em;
    color: #7A7CA3;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.insta {
    font-size: 8em;
    color: #7A7CA3;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

#topBtn {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
}
#topBtn i {
    opacity: 0.5;
    transition: all 0.3s;
}
#topBtn:hover i {
    transform: scale(1.1);
    opacity: 1;
}

#footer {
    background:#7A7CA3;
    color:lavender;
    padding: 10px 0;
    text-align: center;
}

@media all and (max-width: 425px) {
    #header {
        min-height: 200px;
    }
    .thumbnail {
        width: 110px;
        height: 110px;
        bottom: -55px;
        margin-left: -55px;
        /*ctrl + shift + K : 한 줄 지우기*/
    }
    #main .greetings {
        text-align: justify;
        font-size: 14px;
        margin: 55px 10px 5px;
    }
    #about-chapter, #contact-chapter {
        text-align: center;
        text-transform: uppercase; /*소문자를 대문자로*/
        margin: 20px 10px 20px;
    }

    #details {
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    #details strong {
        display: none;
    }
    #details p {
        float: none;
        width: 100%;
    }
    #tmi {
        font-size: 14px;
    }

    #contacts li {
        display: table-row;
    }
}